# Large image dataset is stored in Google Drive.
Data_Engineer/data/final/
Data_Engineer/data/raw/
Data_Engineer/data/processed/
Data_Engineer/data/cleaned/
Data_Engineer/data/archived_rejected/

# Local notebook/runtime files
.ipynb_checkpoints/
__pycache__/
